/*
  Customize css
*/
h1 {
  margin-top: 1.5rem;
}
a{
  color: var(--link);
}

.small-text{
 color: #e79e1b;
 font-weight: 800;
}

.bio-link-name{
  color: #e79e1b;
  font-weight: 800;
}

blockquote {
  color: inherit;
  opacity: 0.8;
}

h4 {
  font-family: var(--systemFont);
}

img {
  margin-bottom: 0;
}
